DB_HOST=postgres
DB_NAME=deathsdb
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_PORT=5432
PORT=8000
DATA_DIR=/app/data
DATA_LOAD_MODE= # empty for SAMPLE, "full" for FULL and "quick" for testing with a smaller dataset
JWT_SECRET=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7