DB_HOST=postgres
DB_NAME=deathsdb
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_PORT=5432

PORT=8000
DATA_DIR=/app/data

# empty for QUICK, "full" for FULL and "sample" for smaller but more representative dataset
DATA_LOAD_MODE= 

BASE_URL=https://URL/path

INTERNAL_SECRET=

JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7